*{
	margin:0;
	padding:0;
	text-decoration:none;
}
body{
	font-family:verdana,Helvetica,san-serif;
	background-color:white;
	color:black;
	line-height:1.4;
	text-align:center;
	height:100%;
}
.floating{float:left;}
#showcase {
	height: 600px;
	color:white;
	text-align:center;
	background:url('images/palm-hotel.jpg')center no-repeat;
	background-size:cover;
}

#showcase h1{
	font-size: 40px;
	line-height: 1.3;
}
#showcase span{
	text-shadow:-1px 1px 2px #333;
	position: relative;
	z-index:3;
	height:100%;
	animation: heading;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}
#showcase p{margin:0 9em;}
@keyframes heading{
	0% {top: 400px;opacity: 0}
	100% {top: 210px;opacity: 1}
}
.learn{
	background:transparent;
	color:white;
	padding:0.3em;
	border:solid 2px white;
	border-radius:22px;
	cursor:pointer;
}
.learn:hover{
	background:#0f89f0 !important;
	color:white;
}
.learn:active{
	border:solid 2px red;
}
#top{display:block;
	 color:white;
	 background:transparent;
     position:relative;
	 text-align:left;}
#top a{border:none;
	   font-size:25px;
	   color:white;
	   text-decoration:none;
	   text-shadow:-1px 1px 2px #333;
	   position:relative;}
#top img{height:46px;
		 width:46px;
		 background:transparent;
		 border-radius:50%;
		 margin-left:0.5em;
		 align-self:left;}
#menubtn{display:none;}
#navbar{position:relative;
		color:white;
		transition:all 0.5s ease;
		float:right;}

#menu-list{background:transparent;
		   text-align:center;
		   margin:1em;
		   position:relative;
		   list-style-type:none;
		   transition:all 0.5s ease;}
#menu-list li{
			  border-radius:20px;
			  display:inline-block;
			  padding:0.2em 0;
			  margin:0.2em 0;
			  text-decoration:none;
			  text-transform:capitalize;
			  transition:all 0.5s ease;
			  cursor:pointer;}
#menu-list li:hover{background:rgba(0,0,0,0.7);}
#menu-list a{color:#fff;
			 text-decoration:none;
			 font-size:18px;
			 padding:0.2em;}

main{ align-items:center;
	  text-align:center;
	  z-index:1;
	  transition:all 0.5s ease;}

main a{color:#333;}
main a:hover{color:forestgreen;}
main h1{font-size:43px;
		 color:white;
		 padding:1em; 
		 background:rgba(0,0,0,0.5);}
main h2{ font-size:35px;
		margin:0 0.5em 0 0.5em;}
main h3{ font-size:30px;}
main h4{
	font-size:25px;
}
main h5{ 
	font-size:17px;
	margin:0.2em;
	color:#0068de;
}
article{
	margin:0.5em;
	padding:0.5em;
}
article img{
	width:99%;
	display:block;
	margin:5px;
	align-items:center;
	border-radius:2px;
}

article video{
	width:32.5%;
	display:inline;
	margin:0em;
	align-items:center;
	border-radius:2px;
}

article section{
	width:46%;
	height:75%;
	margin:1em;
	display:inline-block;
	border-radius:7px;
}
article p{
	padding:0em 5em;
}
section p{
	display:block;
	clear:both;
	padding:0em;
}
.more{
	background:#0f89f0;
	color:white;
	padding:0.2em;
	border:solid 1px gray;
	cursor:pointer;
	text-decoration:none;
	font:normal 18px cursive;
}
.more:hover{
	border:solid 2px black !important;
	color:white;
}
.more:active{
	border:solid 1px #e60e53;
}
.colormore{
	background:#0f89f0;
	color:white;
	padding:0.2em;
	border:solid 1px gray;
	border-radius:22px;
	cursor:pointer;
	text-decoration:none;
	font:normal 18px cursive;
}
.colormore:hover{
	border:solid 2px black;
	color:white;
}
.colormore:active{
	color:black;
}
.extend{
	display:none;
}
.blocks{
	   background:white;
	   position:relative;
	   display:inline-block;
	   border-radius:5px;
	   transition:all 1s ease;
	   overflow:hidden;}

.blocks section{
	width:46%;
	height:50%;
	border:none;
	text-align:left;
}
.card section{
	width:33%;
	margin:0.1em;
}
.card p{padding:0.1em 0.6em;}
.infocard section{
	width:33%;
	height:350px;
	margin:0.1em;
}
.infocard div{
	position:relative;
	top:300px;
	padding:0.1em 0.6em;
	background:rgba(0,0,0,0.4);
	border-radius:30px;
}
#info1{
	color:#fff;
	background:url('images/big-cat.jpg')center no-repeat;
	background-size:cover;
	text-shadow:-1px 1px 2px #333;
}
#info2{
	color:#fff;
	background:url('images/aerial-beach-boat.jpg')center no-repeat;
	background-size:cover;
	text-shadow:-1px 1px 2px #333;
}
#info3{
	color:#fff;
	background:url('images/high.jpg')center no-repeat;
	background-size:cover;
	text-shadow:-1px 1px 2px #333;
}

.imgsection{
	background-size:cover;
	color:white;
	height:530px !important;
	padding:1em;
	margin:1em 0;
	text-shadow:-1px 1px 2px #333;
}
.imgsection section{
	width:35%;
}
.imgsection a{
	color:white !important;
	border:solid 2px white !important;
}
.imgsection p{
	background:rgba(0,0,0,0);
	padding:1em;
}
.imgsection .more{background:#0f89f0;}
#section1{
	background:url('images/night-farm-mountain.jpg')center no-repeat;
	background-size:cover;
}
#section1 section{float:right;}

#people{
	border-radius:5px;
}
#people img{
	border-radius:50%;
	width:35%;
	display:inline;
	float:left;
}
#people section{
	width:47%;
	padding:1em 0;
	text-align:left;
}

#section2{
	background:url('images/nature-night.jpg')center no-repeat;
	background-size:cover;
	margin:1em 0 0.1em 0;
}
#section2 section{
	float:right;
	position:relative;
	top:100px;
}

#links a{text-decoration:none;
	     margin:0px;}
#links{display:block;
	   padding:0px;
	   position:relative;
	   align-self:right;
	   margin:0px;}
#links input{height:38px;
			width:38px;
			margin-right:5px;
			background:white;
			border:solid 1px white;
			border-radius:50%;}
#foot{background:rgba(0,0,0,0.92);
	  display:block;
	  width:100%;
	  text-align:center;
	  padding:0px;
	  font-size:12px;
	  margin:0px;
	  z-index:3;}
#foot li{
	border-radius:5px;
	display:inline-block;
	text-decoration:none;
	text-transform:capitalize;
	cursor:pointer;
	margin:1.5em 0em 1em 0em;
	font:normal 17px arial;
}
#foot a{
	color:white;
	text-align:center;
	text-decoration:none;
	padding:0.5em;
	border-radius:5px;
	transition:all 0.5s ease;
}
#foot a:hover{
	color: red;
}#foot a{
	color:white;
	text-align:center;
	text-decoration:none;
	padding:0.5em;
	border-radius:5px;
	transition:all 0.5s ease;
}
#foot a:hover{
	color: red;
}
#foot a:active{color:red;}
#foot p{
	font:normal 15px arial;
	color:#cdd8d6;
	line-height:1.6;
	padding:0.3em;
}
@media screen and (max-width:1000px){
	.blocks section{
		width:40% !important;
	}
	article section{
		width:43% !important;
		margin:0.5em;
	}
	.wide section{
		width:45% !important;
		margin:0.5em;
	}
	.card section{
		width:30% !important;
	}
}
@media screen and (max-width:780px){
	#showcase h1{
		font-size: 35px !important;
	}
	#top{
		background:white;
		position:fixed;
		width:100%;
		border-bottom:solid 1px black;
		z-index:3;
	}
	#top img{
		margin-left:0.1em;
	}
	#top a{
		color:black;
		font:bold 24px arial;
		text-shadow:none;
	}
	.bar1,.bar2,.bar3{
		width:30px;
		align-self:center;
	    height:5px;
	    margin:0.3rem 0.3em;
	    background:#0f89f0;
	    transition:all 0.5s ease;}
	#navbar:hover .bar1{transform:rotate(-45deg) translate(-9px,9px);}
	#navbar:hover .bar2{opacity:0;}
	#navbar:hover .bar3{transform:rotate(45deg) translate(-4px,-6px)}
	
	#navbar{
		position:relative;
		width:10%;
		display:inline-block;
		background-color:rgba(0,0,0,0);
		z-index:3;
		height:3em;
		transition:all 1s ease;
		}
	#menubtn{
		display:block;
		height:3.6em;
		margin:0.2em;
		width:3.6em;
		color:black;
		background:white;
		border:solid 1px transparent;
		border-radius:5px;
	}
	#navbar:hover #menu-list{display:inline-block;}
	#navbar:hover #menubtn2{display:inline-block;}
	#menu-list{
		display:none;
		right:260%;
		background:rgba(230,230,230,0.3);
	    margin:-0.5em 0 0 0;
		padding:0.4em 1px 1px 1px;
	    width:350%;
		border-radius:6px;
	    z-index:2;}
	#menu-list li{
		display:block;
	    background:#333;
	    border-radius:0px;
	    padding:20px;
	    margin:0px 1px;
	    border-bottom:solid 1px greenyellow;
	    }
	#menu-list a{
		font-size:20px ;
		color:white;
	    text-shadow:-1px 1px 2px #333;
	}
	#menu-list a:active{color:red;}
	#menu-list li:hover{background:#0f89f0;}
	
	#menu-list .learn{border:none;}
	.imgsection section{
		width:50% !important;
	}
	
	.blocks section{
		width:95% !important;
	}
	article section{
		width:40% !important;
		margin:0.5em;
	}
	.wide section{
		width:43% !important;
		margin:0.5em;
	}
	.card section{
		width:30% !important;
	}
	.form{
		width:90%;
		height:15%;
		font-size:16px;
	}
	#contact-form textarea{
		width:90%;
		height:40%;
	}
	#gallery img{
		margin:3px;
	}
	#contact-form section{
		text-align:center;
		width:90% !important;
	}
	#foot a{
		padding:0.2em;
	}
}
@media screen and (max-width:500px){
	#showcase{height:500px;}
	#showcase p{margin:1em;}
	#showcase h1{
		font-size: 35px !important;
	}
	#navbar{
		width:20%;
		}
	
	main h1{font-size:43px;}
	main h2{ font-size:30px;
			margin:0em;}
	main h3{ font-size:27px;}
	main h4{font-size:25px;}
	main h5{ font-size:17px;}
	#services h4{color:white;}
	#gallery img{width:90%;}
	#section1 p{
		background:rgba(0,0,0,0.1);
		text-shadow:-1px 1px 2px black;
	}
	#people img{
		border-radius:50%;
		width:65%;
		display:block;
		float:center;
		margin:0 3em;
	}
	.imgsection section{
		float:center;
		position:relative;
		width:95% !important;
	}
	article section{
		width:97% !important;
	}
	article p{
		padding:0.3em;
	}
	section p{
		padding:0.3em;
	}
	
	.blocks{
		margin:0.3em;
		padding:0.1em;
	}

	.blocks section{
		text-align:center;
	}
	.card section{
		width:98% !important;
	}
	article video{
		width:95% !important;
	}
}